@page "/modosentrega/criar"
@using GestaoLoja.Data
@inject ApplicationDbContext db
@inject NavigationManager nav
@using GestaoLoja.Entities

<h3>Criar Modo de Entrega</h3>

<div class="mb-3">
    <label>Tipo</label>
    <input class="form-control" @bind="modoEntrega.Tipo" />
</div>

<button class="btn btn-success" @onclick="Guardar">Guardar</button>
<button class="btn btn-secondary" @onclick='() => nav.NavigateTo(" /modosentrega")'>Cancelar</button>

@code {
    ModoEntrega modoEntrega = new();

    void Guardar()
    {
        if (!string.IsNullOrWhiteSpace(modoEntrega.Tipo))
        {
            db.ModosEntrega.Add(modoEntrega);
            db.SaveChanges();
            nav.NavigateTo("/modosentrega");
        }
    }
}
