@page "/modosentrega"
@inject ApplicationDbContext db

<h3>Modos de Entrega</h3>

<a class="btn btn-primary mb-3" href="/modosentrega/criar">
    <img src="/img/btn_novo.png" width="25" />
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Detalhe</th>
            <th style="width:120px">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in modos)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Detalhe</td>

                <td class="text-end">
                    <a href="/modosentrega/editar/@item.Id">
                        <img src="/img/editicon.png" width="28" />
                    </a>

                    <a href="/modosentrega/apagar/@item.Id">
                        <img src="/img/botoes/deleteicon.png" width="28" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<ModoEntrega> modos = new();

    protected override void OnInitialized()
    {
        modos = db.ModosEntrega
            .OrderBy(m => m.Nome)
            .ToList();
    }
}
