@page "/categorias/criar"
@inject ApplicationDbContext db
@inject NavigationManager nav
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador")]


<h3>Criar Categoria</h3>

<div class="mb-3">
    <label>Nome</label>
    <input class="form-control" @bind="categoria.Nome" />
</div>

<div class="mb-3">
    <label>Imagem (nome do ficheiro)</label>
    <input class="form-control" @bind="categoria.Imagem" />
    <small class="text-muted">Exemplo: maca.png</small>
</div>

<button class="btn btn-success" @onclick="Guardar">Guardar</button>
<button class="btn btn-secondary ms-2" @onclick="Cancelar">Cancelar</button>

@code {
    Categorias categoria = new();

    void Guardar()
    {
        if (string.IsNullOrWhiteSpace(categoria.Nome))
            return;

        db.Categorias.Add(categoria);
        db.SaveChanges();
        nav.NavigateTo("/categorias");
    }

    void Cancelar() => nav.NavigateTo("/categorias");
}
