@page "/categorias/editar/{id:int}"
@using GestaoLoja.Data
@inject ApplicationDbContext db
@inject NavigationManager nav
@using GestaoLoja.Entities

<h3>Editar Categoria</h3>

@if (categoria == null)
{
    <p>A carregar...</p>
}
else
{
    <div class="mb-3">
        <label>Nome</label>
        <input class="form-control" @bind="categoria.Nome" />
    </div>

    <button class="btn btn-success" @onclick="Guardar">Guardar</button>
    <button class="btn btn-secondary" @onclick='() => nav.NavigateTo(" /categorias")'>Cancelar</button>
}

@code {
    [Parameter] public int id { get; set; }
    Categorias? categoria;

    protected override void OnInitialized()
    {
        categoria = db.Categorias.Find(id);
    }

    void Guardar()
    {
        db.SaveChanges();
        nav.NavigateTo("/categorias");
    }
}
